{% extends 'base.html' %}

{% block conteudo %}
<div class="container" id="principal">
  <div id="map"></div>
  <br>
  <div class="container">
    <p id="texto-auxilio" class='text-center'>
      Clique no local que encontrou o escorpião
    </p>
  </div>
  <br>
  <div id="controle" class="container d-none">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <div class="form-group">
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
              <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="form-group">
            <input class="form-control" type="number" id="quantidade-input" placeholder="Quantidade">
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="form-group">
          <a href="#" class="btn btn-success btn-block" id="salvar" style="width:100%"> 
            <i class="fas fa-check-circle"></i> Salvar
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="form-group">
          <a href="#" class="btn btn-danger btn-block" id="apagar" style="width:100%">
            <i class="fas fa-trash-alt"></i> Apagar
          </a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <h3 class='text-center'>
    Entradas já cadastradas
  </h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th scope="col">Entrada</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
      </thead>
      {% for praga in pragas_usuario %}
        <tbody>
          <td>{{praga[0]}} <a href="/apagar?id={{praga[0]}}"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
          <td>{{praga[3].split(' ')[0]}}</td>
          <td>{{praga[3].split(' ')[1][:5]}}min</td>
          <td>{{praga[5]}}</td>
          <td>{{praga[1]}}</td>
          <td>{{praga[2]}}</td>
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<br><br><br>
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}"></script>
<script>
  var map;
  var adicionar = true;
  var posicao = false;
  var marker = false;
  var data;
  function initMap() {}
  $(() => {
    initMap = function() {
    var noPoi = [{
      featureType: "poi",
      stylers: [{ visibility: "off" }]   
    }];
    map = new google.maps.Map(document.getElementById('map'), { 
      center: {lat: -22.679705, lng: -47.623842},
      zoom: 17,
      disableDefaultUI: true,
    });
    map.setOptions({styles: noPoi});
    google.maps.event.addListener(map, 'click', function(event) {
      if (adicionar)
      {
        $("#controle").removeClass('d-none');
        $("#texto-auxilio").text("Adicione a data, quantidade e clique em salvar");
        marker = new google.maps.Marker({
        position: event.latLng,
        map: map,
        title: 'Escorpião'
        });
        adicionar = false;
        posicao = event.latLng;
      }          
    });
  }});
  $( document ).ready(function() {
    initMap();
    $("#apagar").click(function(){
      adicionar = true;
      $("#controle").addClass('d-none');
      $("#texto-auxilio").text("Clique no local que encontrou o escorpião");
      posicao = false;
      marker.setMap(null); 
    });
    $("#salvar").click(function(){
      adicionar = false;
      $("#controle").removeClass('d-none');
      var quantidade = $("#quantidade-input").val();
      data = $("#datetimepicker1").datetimepicker('date');
      window.location.href = "/inserir?quantidade=" + quantidade + "&data=" + data.toString() + "&posicao=" + posicao;
    });
    
  
  });
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>

{% endblock %}
